<%= provide(:title, "Рыбалка одного дня") %>

<div class="row">
  <div class="text-up">
    <p>Рыбалка одного дня  проходит на реках в черте города Киева - Днепр, Десна, Десёнка.</p>

    <b>Мы обеспечиваем:</b>
    <ul>
      <li>Подачу автотранспорта по адресу в Киеве;</li>
      <li>Выезд на место рыбалки;</li>
      <li>Организацию рыбалки (подбор и предоставление на прокат снастей и оборудования с правом последующего выкупа);</li>
      <li>Обучение лову рыбы профессиональным рыболовом, правильному использованию снастей, подбору приманок, вываживанию трофеев и многому другому;</li>
      <li>Хранение выбранного улова (до 10 кг);</li>
      <li>Фотосъёмку процесса ловли рыбы (по желанию);</li>
      <li>Возвращение в Киев по обратному адресу.</li>
  </ul>

  <%= render 'shared/info' %>

  <%= render 'shared/contacts' %>

  </div>
</div>
<div class="row">
  <div class="text-link">
      <h5><%= link_to 'Назад', root_path, method: :get %></h5>
  </div>
</div>
