<%= provide(:title, "Коробовка") %>

<%= javascript_tag do %>      
var map;                      
$(document).ready(function(){ 
  map = new GMaps({           
    el: '#map',               
    lat: 49.591752,           
    lng: 31.975222            
  });                         
  map.addMarker({             
    lat: 49.591752,           
    lng: 31.975222,           
    mouseover: function(e){   
      if(console.log)         
        console.log(e);       
    }                         
  });                         
});                           
<% end %>                     

<div class="row">
  <div class="text-map">
    <h4>Коробовка</h4>
  </div>
  <div id="map">
  </div>
</div>

<%= render 'shared/back' %>
