<%= provide(:title, "Сбросить пароль") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Сбросить пароль</h4>

    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'fields_update', f: f %>

      <%= f.submit "Изменить пароль", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
