<%= provide(:title, "Забыли пароль") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Забыли пароль</h4>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= render 'fields_reset', f: f %>

      <%= f.submit "Сбросить пароль", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
