<h1>Password reset</h1>

<p>Для сброса пароля перейдите по ссылке ниже:</p>

<%= link_to "Сбросить пароль", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Время активации ссылки истекает через пару часов.</p>

<p>
Если Вы отправляли запрос на сброс пароля, проигнорируйте это сообщение.
</p>
