<h1>Users#new</h1>

<div class="row">                                              
  <div class="text-link">                                      
      <h5><%= link_to 'Назад', users_index_url, method: :get %></h5>
  </div>                                                       
</div>                                                         
