<% if logged_in? %>                                       
  <li ><%= link_to "Выйти", logout_url, method: "delete" %></li>            
  <li ><%= link_to "Добавить видео", new_video_url %></li>
  <li ><%= link_to "Пользователи", users_url %></li>
<% else %>                                                
  <li ><%= link_to "Войти", login_url %></li>             
<% end %>                                                 
