<p>Мы учитываем любые Ваши предложения, интересы и возможности.</p>        
<p>Подробная информация по телефону +38(098) 494-61-64 или по <%= mail_to('ostapenko.vitaly@gmail.com', 'электронной почте.') %></p>
