<b>При себе необходимо иметь:</b>               
<ul>      
   <li>Одежду по сезону;</li>                   
   <li>Средства личной гигиены;</li>            
   <li>Любимые Вами продукты питания и напитки.</li>
</ul>                                        
