<div>                                          
    <img u="image" src="assets/001.jpg">       
    <img u="thumb" src="assets/thumb-001.jpg"> 
</div>                                         
<div>
    <img u="image" src="assets/002.jpg">
    <img u="thumb" src="assets/thumb-002.jpg">
</div>
<div>
    <img u="image" src="assets/003.jpg">
    <img u="thumb" src="assets/thumb-003.jpg">
</div>
<div>
    <img u="image" src="assets/004.jpg">
    <img u="thumb" src="assets/thumb-004.jpg">
</div>
<div>
    <img u="image" src="assets/005.jpg">
    <img u="thumb" src="assets/thumb-005.jpg">
</div>
<div>
    <img u="image" src="assets/006.jpg">
    <img u="thumb" src="assets/thumb-006.jpg">
</div>
<div>
    <img u="image" src="assets/007.jpg">
    <img u="thumb" src="assets/thumb-007.jpg">
</div>
<div>
    <img u="image" src="assets/008.jpg">
    <img u="thumb" src="assets/thumb-008.jpg">
</div>
<div>
    <img u="image" src="assets/009.jpg">
    <img u="thumb" src="assets/thumb-009.jpg">
</div>
<div>
    <img u="image" src="assets/010.jpg">
    <img u="thumb" src="assets/thumb-010.jpg">
</div>
<div>
    <img u="image" src="assets/011.jpg">
    <img u="thumb" src="assets/thumb-011.jpg">
</div>
<div>
    <img u="image" src="assets/012.jpg">
    <img u="thumb" src="assets/thumb-012.jpg">
</div>
<div>
    <img u="image" src="assets/013.jpg">
    <img u="thumb" src="assets/thumb-013.jpg">
</div>
<div>
    <img u="image" src="assets/014.jpg">
    <img u="thumb" src="assets/thumb-014.jpg">
</div>
<div>
    <img u="image" src="assets/015.jpg">
    <img u="thumb" src="assets/thumb-015.jpg">
</div>
