<ul class="social">                                                                            
  <li><%= social_share_button_tag('Рыбачьте с нами.', :url => "http://www.rbk.kiev.ua") %></li>
</ul>                                                                                          
