@import "bootstrap-sprockets";     
@import "bootstrap";               

/* mixins, variables, etc. */

$LightBlue: #ADD8E6;
$DimGrey:  #696969;
$LightSlateGray: #778899;
$FloralWhite: #FFFAF0;
$DimGrey: #696969;
$Red: #FF0000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {                                       
  font-family: "chocogirl";                          
  src: font_url('Chocogirl.ttf') format('truetype'); 
  font-weight: normal;                               
  font-style: normal;                              
}                                                  

@font-face {                                    
  font-family: "helvetica";                         
  src: font_url('Helvetica.ttf') format('truetype'); 
  font-weight: normal;                            
  font-style: normal;                           
}                                               

/* universal */

html {
  font-size: 100%;
  height: 100%;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: LightBlue;
}

h1 {
  font-family: chocogirl;
  font-size: 4em;
}

h4 {                      
  font-family: chocogirl; 
  font-size: 2em;         
  &:first-letter {         
    font-family: chocogirl;
    color: Red;            
    text: bold;            
    font-size: 2em;      
  }                        
}                         

h5 {         
  font-family: chocogirl;    
  font-size: 2em;            
}                            

h6 {                       
  font-family: helvetica;
  font-size: 1em;          
}                          

b {
  font-family: helvetica;    
  text-align: justify;       
  font-size: 1.3em;          
}

p {
  font-family: helvetica;
  text-indent: 2em;
  text-align: justify;
  font-size: 1.3em;
  &:first-letter {
    font-family: chocogirl;
    color: Red;
    text: bold;
    font-size: 2.2em;
  }
}

ul, li {
  font-family: helvetica; 
  text-align: justify;    
  font-size: 1.1em;       
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.flash {
  width: 725px;
  padding-top: 5px;    
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* text */
.text-up {             
  padding-top: 0px;    
  padding-bottom: 20px; 
  padding-left: 100px;  
  padding-right: 100px; 
}                      

.text-down {            
  padding-top: 0px;    
  padding-bottom: 20px; 
  padding-left: 100px;   
  padding-right: 100px;  
}                       

.text-link {            
  padding-top: 10px;    
  padding-bottom: 0px; 
  text-align: center;
}                       

.text-map {
  padding-top: 0px;      
  padding-bottom: 10px;   
  text-align: center;
}

/* logo */

#logo {
  float: left;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 250px;
}

/* header */

#slogan {           
  float: right;
  margin-top: 30px;  
  padding-right: 300px;
}                   

/* footer */

footer {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 30px;
  text-align: right;
  color: $DimGrey;
}

ul.social li {
  display: inline; 
  float: right;
  list-style: none;
  padding-top: 10px;       
  padding-bottom: 10px; 
  padding-left: 0px;      
  padding-right: 0px;  
}

/* miscellaneous */

.container {                        
  background-color: $FloralWhite;   
  border-radius: 20px;
  width: 1000px;
  height: auto;
  a {                         
    text-decoration: none;    
  }                           
}                                   

/* home page */
.img_container {
  position: relative;
  top: 0px; 
  left: 0px; 
  width: 800px; 
  height: 685px; 
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: $FloralWhite;   
}

.slides_img {
  cursor: move; 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 800px; 
  height: 600px; 
  overflow: hidden;
}
  
.thumb_container {
  position: absolute; 
  left:0px; 
  width: 800px; 
  height: 85px; 
  bottom: 0px;
}

.slides_thumb {
  cursor: move;
}

.prototype_thumb {
  position: absolute; 
  top: 0px; 
  left: 0px;
  width: 72px; 
  height: 72px; 
}

#map {
  width: 800px;
  height: 600px;
  margin: 0px auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
